extends layout
block content
  head
    meta(charset="utf-8")
    title  Hackathon
    meta(name="description", content="Hello World")
    link(rel="stylesheet", href="/css/test7.css")
    // Latest compiled and minified CSS
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    // Optional theme
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
  body#user-db-body
    .text
      | MATCHED CHARITIES
      .col-xs-6
        .dummy
        .in.a.text-center
          | Gawad Kalinga
          .volbutton.pull-down
            a.page-scroll.btn.btn-primary(type="button", href="http://gk1world.com/home")  Sign up as a Volunteer!
      .col-xs-6
        .dummy.text-center
        .in.b
          | Haribon
          .volbutton.pull-down
            a.page-scroll.btn.btn-primary(type="button", href="https://goharibon.wordpress.com/")  Sign up as a Volunteer!
      .col-xs-6
        .dummy
        .in.c
          | Women's Rights Movement
          .volbutton.pull-down
            a.page-scroll.btn.btn-primary(type="button", href="http://womenalliance.org/old/associate/wrmp.html")  Sign up as a Volunteer!
      .col-xs-6
        .dummy
        .in.d
          | Boy Scouts of the Ph
          .volbutton.pull-down
            a.page-scroll.btn.btn-primary(type="button", href="http://scouts.org.ph/")  Sign up as a Volunteer!
    // Latest compiled and minified JavaScript
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")